/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}

.quotetext{
  font-family: 'Handlee', cursive;
  fon
}

img {
  width: 100%;
}

.fancy {
  font-family: 'Handlee', cursive;
}

.nav {
  padding-bottom: 20px;
  background-color: lavender;
  margin-bottom: 20px;
}

.nav ul{
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}


.hero {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
  color: lightgray;
  text-align: center;
}

.aboutpreview {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: lavender;
}

.aboutpreview{
  left 30p;
  position: relative;
}

.aboutpreview a{
  text-align: center;
}
.shoppreview {
  padding-top: 30px;
  padding-bottom: 30px;
}

.quote {
  position: relative;
  text-align: center;
  font-size: 50px; 
  
}
.quote img{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.quote p{
  text-align: center;
  position: absolute;
  top: 27%;
  bottom:50%;
  color: antiquewhite;
  width: 100%;
}

.values {
  padding-top: 30px;
  padding-bottom: 30px;
}

.quote{
  padding-bottom: 30px;
  padding-top: 30px;
}
.social {
  padding-bottom: 30px;
  padding-top: 30px;
}

.instapics img{
  flex: 1;
}

.instapics {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.ingredients{
  padding-bottom: 30px;
  padding-top: 30px;
}

.ingredlist {
  display: flex;
  justify-content: space-between;
}

.ingredients h1{
  text-align: center;
}
.shophero {
  text-align: center;
  background-image: url(pictures/shophero.jpg);
  background-size: 100%;
  background-size: cover;
  padding: 0px 0px 600px 0px;
}

.shophero h1{
  padding-left: 55%;
  padding-top: 25%
}

.shophero h3{
  padding-left: 55%;
}
.soaps {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: lightgray;
  margin: 10px 0px 10px 0px;
}

.soaps img{
  width: 300px;
  height: 300px;
}

.soapproducts {
  padding: 0px;
  display: flex;
  margin: 3px;
 justify-content: center;
}

.scrubs {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: lightgray;
  margin: 10px 0px 10px 0px;
}

.scrubs img{
  width: 300px;
  height: 300px;
}

.scrubproducts {
  padding: 0px;
  display: flex;
  margin: 3px;
  justify-content: center;

}

.masks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: lightgray;
  margin: 10px 0px 10px 0px;
}

.masks img{
  width: 300px;
  height: 300px;
}
.maskproducts {
  padding: 0px;
  display: flex;
  margin: 3px;
  justify-content: center;

}
